@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
    margin: 0;
    padding: 0;
}
.browncolor{
    background-color:rgb(99, 42, 2);
}
nav{
    display: flex;
    justify-content: space-between;
    height: 100px;
}
.logo{
    margin-top: 30px;
    margin-left: 20px;
    color:goldenrod;
    font-size: 40px;
    font-family: "Lobster", sans-serif;
}
nav ul{
    margin-top: 20px;
    display: flex;
    color: white;
    font-size: 20px;
    text-decoration: none;
    list-style: none;

}
nav ul li{
    padding:23px
}
nav ul li a{
    text-decoration: none;
    color: white;

}
nav ul li a:hover{
    position: relative;
    top: 7px;
    cursor: pointer;
    color:goldenrod;
}
.loginbutton{
    background-color: goldenrod;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    margin-right: 30px;
}
.loginbutton:hover{
    background-color: darkgoldenrod;
}
.loginbutton a{
    color: black;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    
}
.indexmain{
    height: 100vh;
    position: relative;
    height: 652px;
}
.indexmain::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1; 
}
.indexmain > * {
    position: relative;
    z-index: 2; 
}
.text{
    margin-top: 150px;
    margin-left: 50px;
    color: white;
    font-size: 20px;
    text-align: center;
}
.goldcolor{
    color:goldenrod;
    font-family: "Lobster", sans-serif;
    font-size: 48px;    
}
.Explorebutton{
    margin-top: 30px;
    width: 180px;
    height: 50px;
    background-color:goldenrod;
    font-size: 20px;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.Explorebutton:hover{
   background-color: darkgoldenrod;
}
.Explorebutton a{
    text-decoration: none;
    color: black;
}
.main{
    display: flex;
    height: 500px;
    justify-content: space-between;
}
.WelcomeText{
    margin-left: 50px;
    margin-top: 80px;
    text-align: left;
}
.WelcomeText h1{
    font-size: 48px;
    display: flex;
}
.WelcomeText p{
    font-size: 20px;
}
.cupimage{
    height: 472px;
    width: 600px;
}
footer{
    background-color:rgb(99, 42, 2);
    color: white;
    height:50vh;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
.image{
    vertical-align: middle;
    border-radius: 50%;
    height: 25px;
    width: 25px;
}
.icons{
    border-radius: 50%;
    height: 35px;
    width: 35px;
    padding: 5px;
}
.icons:hover{
    cursor: pointer;
}
.navicons{
    vertical-align: middle;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
}
.contactinfo{
    margin-top: 40px;
    margin-left: 100px;
}
.quickLink{
    margin-top: 40px;
    margin-right: 250px;
}
footer div a{
    font-size: 20px;
    text-decoration: none;
    color: white;
}
footer div a:hover{
    text-decoration: underline;
    cursor: pointer;
}
.footergoldcolor{
    color: goldenrod;
    font-family: "Lobster", sans-serif;
    font-size: 30px;
}

.maindiv{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
}
.reviews{
    float: left;
    margin-left: 40px;
    text-align: left;
    margin-right: 40px;
}
.star{
    font-size: 1.5em;
    display: inline;
    position: relative;
}
.full{
    color: goldenrod;
}
.half::before{
    content: '\2605';
    position: absolute;
    color: goldenrod;
    width: 50%;
    overflow: hidden;
}
.third::before{
    content: '\2605';
    position: absolute;
    color: goldenrod;
    width: 65%;
    overflow: hidden;
}
.foodpic{
    display: inline-block;
    width: 250px;
    height: 250px;
}
.catagory{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 2);
    text-align: center;
    height: 630px;
    font-size: 20px;
}
.catagory img{
    margin-top: 50px;
}
.button{
    margin-top: 20px;
    width: 250px;
    height: 45px;
    background-color:goldenrod;
    font-size: 20px;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
}
.button:hover{
    background-color: darkgoldenrod;
}
.opt{
    display: flex;
    margin-top: 50px;
    margin-left: 80px;
}
.optButton{
    color: black;
    font-size: 20px;
    background-color: rgb(227, 227, 189);
    border-radius: 30px;
    width: 120px;
    height: 45px;
    cursor: pointer;
    margin:5px;
}
.optButton a{
    text-decoration: none;
    color: black;
}
.optButton:hover{
    background-color: goldenrod;
}
.menubutton{
    margin-top: 20px;
    width: 130px;
    height: 45px;
    background-color:goldenrod;
    font-size: 20px;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
    margin: 5px;
}
.menubutton:hover{
    background-color: darkgoldenrod;
}


.heading{
    color: goldenrod;
    font-size: 40px;
    text-align: center;
}
.contactmain{
    display: flex;
    justify-content:right;
    height: 550px;
}
.pic{
    background-image: url('images/background.jpg');
}
.borderdark{
    border-radius: 10px;
    border: 5px solid goldenrod;
    width: 330px;
    height: 420px;
    text-align: center;
    margin-right: 80px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.borderdark input{
    width:250px;
    height: 40px;
    margin: 5px 0;
    padding:10px;
    font-size: 16px;
    box-sizing: border-box;
}
.borderdark textarea{
    width:250px;
    height: 100px;
    margin: 5px 0;
    padding:10px;
    font-size: 16px;
    box-sizing: border-box;
}
.loginclass{
    display: flex;
    justify-content:right;
    height: 550px;
}
.block{
    padding:20px;
    margin: 20px;
    border-radius: 10px;
    border: 5px solid goldenrod;
    margin-right: 80px;
    width:330px;
    height:330px;
    text-align: center;
    margin-top: 50px;
}
.block input{
    width: 250px;
    height: 40px;
    margin: 8px;
    font-size: 15px;
    box-sizing: border-box;
}
.moreOptions{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.Options{
    font-size: 20px;
    cursor: pointer;
}

.Options a{
    text-decoration: none;
    color: goldenrod;
}
.Options a:hover{
    color: darkgoldenrod;
    text-decoration: underline;
}


.aboutus{
    height: 375px;
    background-image: url('images/aboutus\ .jpg');
    position: relative;
}
.aboutus::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1; 
}
.aboutus > * {
    position: relative;
    z-index: 2; 
}
.abouttext{
    margin-top: 50px;
    color: white;
    font-size: 20px;
    text-align: center;
}
.aboutmain{
    margin-left: 50px;
    margin-right: 50px;
    font-size: 20px;
}


.aboutdiv{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}


.cusrev{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 2);
    text-align: center;
    height: 400px;
    font-size: 20px;
    display: none;
}
.cusrev img{
    margin-top: 30px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.active {
    display: block;
}
.center{
    margin-left: 30px;
    text-align: center;
    margin-right: 30px;
}
.sidecircle{
    width: 100px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(227, 227, 189);
    text-align: center;
    font-size: 30px;
    margin-top: 230px;
    cursor: pointer;
    color: goldenrod;
}
.sidecircle:hover{
    background-color: rgb(208, 208, 162);
}

.catagory{
    background-color: rgb(227, 227, 189);
    border-radius: 10px;
}
.cusrev{
    background-color: rgb(227, 227, 189);
        border-radius: 10px;
}
.chefblock{
    background-color: rgb(227, 227, 189);
        border-radius: 10px;
}
.pics{
    background-color: rgb(227, 227, 189);
        border-radius: 10px;
}
.sidecircle h3{
    margin-top: 5px;
}
.displaygallary{
    display: flex;
    margin-left: 25px;
    margin-right: 25px;
}
.gallarysidecircle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(227, 227, 189);
        text-align: center;
    font-size: 30px;
    margin-top: 150px;
    cursor: pointer;
    color: goldenrod;
}
.gallarysidecircle:hover{
    background-color: rgb(208, 208, 162);
}
.gallarysidecircle h3{
    margin-top: 5px;
}
.display{
    display: flex;
}
.cusrevdiv{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 70px;
    margin-right: 70px;
}
.success{
    display: flex;
}
.linebar{
    border: 2px solid rgb(214, 214, 164);
}
.centertext{
    text-align: center;
}
.chefblock{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 2);
    text-align: center;
    height: 630px;
    font-size: 20px;
}
.chefblock img{
    margin-top: 20px;
}
.pics{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 2);
    text-align: center;
    height: 300px;
    width: 300px;
    display: none;
}
.pics img{
    width: 200px;
    height: 200px;
    margin-top: 30px;
}
.pics.active{
    display: block;
}
.message{
    margin-top: 20px;
    font-size: 20px;
    color: goldenrod;
    display: none;
}
.visit{
    display: flex;
    
}
.address{
    margin-left: 150px;
    font-size: 23px;
}
.white{
    color: white;
    font-size: 20px;
}
.left{
    margin-left: 45px;
    text-align: left;
}
.map{
    margin-left: 100px;
}

.cartmain{
    background-color: #cdcfd1;
    display: flex;
    justify-content: center;
    height: 500px;
}
.cartbox{
    height: 350px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 1000px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.billmain{
    background-color: #cdcfd1;
    display: flex;
    justify-content: center;
    height: 700px;
}
.bilingbox{
    height: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 1000px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.bilingbox form{
    margin-left: 80px;
}
.flex{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}
.bilingbox input{
    width:400px;
    height: 40px;
    margin: 10px;
    padding:10px;
    font-size: 16px;
    box-sizing: border-box;
}
.bilingbox select{
    width:400px;
    height: 40px;
    margin: 10px;
    padding:10px;
    font-size: 16px;
    box-sizing: border-box;
    cursor: pointer;
}

.bilingbox label{
    margin-left: 20px;
    font-size: 20px;
    margin-right: 1200px;
    margin: 10px;
    padding:10px;
    width:400px;
    height: 20px;
}
.buttoncenter{
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: 30px;
}
.cartTable {
    width: 100%;
    font-size: 16px;
    text-align: center;
    align-items: center;
    margin-top: 30px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead th {
    background-color: #d8d7d7;
    padding: 10px;
    text-align: left;
    font-size: 20px;
}

tbody td {
    font-size: 20px;
    margin-right: 30px;
    text-align: left;
    padding: 10px;
    border-top: 1px solid #ddd;
}

.delete-btn {
    color: red;
    cursor: pointer;
}
.placeorder{
    color: green;
    cursor: pointer;
}
.quantity{
   float: right;
    width: 30px;
    margin-top: 10px;
}